<p>Take a Request for a Drive</p>
<div class="container">
  <div class="row">

    <div class="col-md-3 col-sm-12">
      <form>
        <div class="form-group" v-bind:class="{'has-error': errors.fromWhere}">
          <label for="fromWhere">From Where</label>
          <geocode-suggest v-bind:model.sync="customerRequest.fromWhere" placeholder="Address from where to start"></geocode-suggest>
          <span v-if="errors.fromWhere" class="help-block">{{errors.fromWhere.message}}</span>
        </div>

        <div class="form-group" v-bind:class="{'has-error': errors.toWhere}">
          <label for="toWhere">To Where</label>
          <geocode-suggest v-bind:model.sync="customerRequest.toWhere" placeholder="Address to where to go"></geocode-suggest>
          <span v-if="errors.toWhere" class="help-block">{{errors.toWhere.message}}</span>
        </div>

        <div class="form-group">
          <label for="forWhen">For When</label>
          <date-picker v-bind:model.sync="customerRequest.forWhen"></date-picker>
        </div>

        <div class="form-group" v-bind:class="{'has-error': errors.driver}">
          <label for="driver">Assigned Driver</label>
          <input type="text" class="form-control" id="driver" v-model="customerRequest.driver" placeholder="Select a Driver from Map or Driver List">
          <span v-if="errors.driver" class="help-block">{{errors.driver.message}}</span>
        </div>

        <button type="button" class="btn btn-success" v-on:click="handleSubmit(customerRequest)">Submit</button>
        <button type="button" class="btn btn-info" v-on:click="handleCancel">Cancel</button>
      </form>
    </div>

    <div class="col-md-6 col-sm-6">the map</div>
    <div class="col-md-3 col-sm-6">driver list</div>
  </div>
</div>
